@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
  margin: 30px;
  font-family: "Poppins";

  .grid-container {
    background-color: #eee;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    gap:10px;
    justify-items: stretch;
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px; this is a whole mess if we want take 6 elements in column */
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; width onujai equal jaiga bhag kore nibe*/
    /*grid-template-columns: repeat(6, 100px); Easy way*/
    grid-template-columns: repeat(6, 1fr); /*Easy way*/
    grid-template-rows: 100px 200px 300px; /*row height*/
    /*Change the position of grid elements*/
    div{
      background-color: #ccc;
      text-align: center;
      padding: 20px;
      border: 1px solid #777;
    }
    div:nth-child(1){
      grid-column: span 2; /*change a single element 
      size here span 2 means it will take the size of
      two elements*/
    }
    div:nth-child(2){
      grid-column: span 3;
    }
    div:nth-child(3){
      grid-column: span 1;
    }
    div:nth-child(4){
      grid-column: 2/ span 4; /*grid-column:from which position or column it should start/
      and how much it should take size*/
      align-self: self-end;
    }
    div:nth-child(5){
      grid-column: span 3;
    }
    div:nth-child(6){
      grid-column: span 3;
      justify-self: end;
      align-self: center;
    }
  }
}
