.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .container-1-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    .item-a {
      background-color: aqua;
    }
    .item-b {
      background-color: blueviolet;
    }
    .item-d {
      background-color: yellowgreen;
    }
  }
  .container-1-2{
    display: flex;
    flex-basis: 100%;
    .item-c{
        background-color: rebeccapurple;
    }
  }
  .item{
    flex-grow: 1;
  }
}
