.parent{
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100vh;
    main{
        background-color: aqua;
        padding: 12px;
        width: 200px;
    }
    section{
        background-color: blue;
        padding: 12px;
        color: white;
        width: 200px;
    }
}