body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  object-fit: cover;
  .form{
    border-radius: 8px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    h2{
        font-size: 16px;
        text-align: end;
        color: green;
        opacity: 0.9;
    }
    h1{
        color: rgba(0, 0, 0, 0.8);
        font-size: 32px;
    }
    .input{
        height: 45px;
        font-size: 18px;
        text-align: center;
        color: green;
        border: none;
        outline: none;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}
.submit{
    margin-top: 10px;
    height: 35px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
}
  }
}
