body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 8px;
    .sub-btn {
        background: #C10001;
        color: white;
        height: 36px;
        border: none;
        padding: 6px 18px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
}
    .join-btn {

    }
    .tweet-btn {

    }
}