body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 8px;
    .sub-btn {
        background: #C10001;
        color: white;
        height: 36px;
        border: none;
        padding: 6px 18px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 600;
}
    .join-btn {
        background: none;
        color: rgb(0, 149, 255);
        height: 36px;
        border: 2px solid rgb(0, 149, 255);
        padding: 6px 18px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            background: rgb(0, 149, 255);
            color: white;
            border: none;
            padding: 6px 20px;
        }
    }
    .tweet-btn {

    }
}