.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 1000px;
  border: 1px solid red;
  margin: 30px;
}

.item {
  padding: 20px;
  background-color: aqua;
  width: 100px;
  height: 100px;
  text-align: center;
}

.item-1 {
  position: absolute;
  top: -20px;
  right: -40px;
  /* left: 0;
  bottom: 0; */
}
