.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  height: 100vh;
}

.item {
  padding: 20px;
  background-color: aqua;
  width: 100px;
  height: 100px;
  text-align: center;
}

.item-1 {
  position: absolute;
  /* top: 0;
  right: 0; */
  left: 0;
  bottom: 0;
}
